.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .box1, .box5 {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    color: white;
  }
  
  .box1 {
    background-color: red;
  }
    
  .box5 {
    background-color: #062afa;
  }
    
  .box2, .box4 {
    width: 8rem;
    height: 5rem;
    font-size: 2rem;
    color: white;
  }
    
  .box2 {
    background-color: #0fd1b7;
  }
  
  .box4 {
    background-color: rgb(32, 5, 151);
  }
  
  .box3 {
    width: 11rem;
    height: 7rem;
    font-size: 4rem;
    background-color: #f70be3;
    color: white;
  }